*{ box-sizing: border-box;}
 body{
      margin:0;
	  background:url(background.jpg) center no-repeat fixed;
	  background-size:cover;
	  overflow:hidden;
    }
.head{
	text-align:center;
	color: white;
}
.title{
	background: rgba(255,192,0,0); 
	color: white; 
	font-weight: 600;
	/*padding-right: 19px;*/
	margin: 0 2.5%;
}
.title:hover{background: rgba(255,192,0,1)}
.title div{
	display:inline-block; 
	width:8.33%; 
	text-align:center;
}
.content-wrap{background:rgba(240,240,240,0.5);
	height:500px;
	overflow:hidden;
	/*border:1px solid black;*/
	position:relative;
	margin:0 2.5%;
}
.content{
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	box-sizing:initial;
	padding-right:19px;
	position:absolute;
	top:0px;
	bottom:0px;
}
.content > div:nth-child(even){padding:0;background: rgba(255,192,0,0.3); color: white;}
.content >div:hover{padding:0;background: rgba(0,255,0,0.7); color: white;}
.row div {
	display:inline-block; 
	width:8.33%; 
	/*border: 1px solid green; */
	text-align:center;
	vertical-align:middle;
}
.teamName:after {
	content:"";
	height:20px;
	border-right:1px solid grey; 
	float:right;
}

#allGames{
	width:100%;
	/*position:absolute;*/
	overflow-y:auto;
	height:300px;
	box-sizing:initial;
	padding:0 9.5px;
}
.right{position:relative;}
.left > div, .right > div{background-color: rgba(250,250,250,0.4); margin: 3%;}
#headToHead{
	background:url(h2h.jpg) center no-repeat;
	background-size:cover;	
	position:absolute;
	top:0;
	margin-left:5%;
}
@media only screen and (min-width:568px){
	.left{
		width:50%;
		float:left;
		height: 300px;
	}
	.right{
		width:50%;
		float:left;
		position:relative;
	}
}